body {
	text-align: justify;
}

.blue {
	color: blue;
}

.btn-success {
	margin-bottom: 20px;
}

div[class^='highlight-tree'] pre {
	line-height: 1.16;
}

.chemin_fichier {
	position: relative;
	top: 5px;
	left: 2px;
}